{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ form_start(form_registration) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    {{ form_end(form_registration) }}
{% endblock %}
