{% extends 'base.html.twig' %}

{% block title %}Reset your password !{% endblock %}

{% block body %}
    {{ form_start(form_reset_request) }}
    {{ form_row(form_reset_request) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Send me an email
    </button>
    {{ form_end(form_reset_request) }}
{% endblock %}
