{% extends 'base.html.twig' %}

{% block title %}Welcome on {{ controller_name }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome on {{ controller_name }}! ✅</h1>

    This part of the site is only available for users with admin level !
</div>
{% endblock %}
