{# templates/emails/registration.html.twig #}
{% extends 'emails/base.html.twig' %}
{% block body %}



    <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">

            <strong>{{ 'You did it! You registered!'|trans }}</strong>

            <h3>
                {#{% trans with {'name':user.email } %}#}
                    {#Hi %name%! You're successfully registered.#}
                {#{% endtrans %}#}
            </h3>

            <p class="lead">
                {% trans %}
                To confirm your registration and login, go to:
                {% endtrans %}
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 20px;">
            <!-- Button : BEGIN -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
                <tr>
                    <td class="button-td button-td-primary" style="border-radius: 4px; background: #222222;">
                        <a class="button-a button-a-primary" href="{{ url('app_confirm', {'token' : user.token}) }}"
                           style="background: #222222; border: 1px solid #000000; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">{{ 'Confirm!'|trans }}</a>
                    </td>
                </tr>
            </table>
            <!-- Button : END -->
        </td>
    </tr>

    <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
            <p class="callout">
                {{ 'Thanks!'|trans }}
            </p>
        </td>
    </tr>
{% endblock %}